.category {
	padding: 0 40px;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.products {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.title {
	color: var(--dark-brown);
	font-family: var(--unbounded-semibold);
	font-size: 40px;
	text-transform: uppercase;
}