.header {
	height: 400px;
	width: 100%;
	display: flex;
	border-bottom: 3px solid var(--green);
	position: absolute;
	z-index: 101;
	top: 0;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 40px;
	flex: 1 0 0;
	width: 100%;
}

.background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.logo {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.logo__img {
	height: 100%;
	justify-content: center;
	display: flex;
	width: fit-content;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	height: 80px;
	align-items: center;
	justify-content: center;
}

.logo__img span:first-child {
	font-family: var(--unbounded);
	font-weight: 600;
	font-size: 40px;
	color: var(--dark-brown);
}

.logo__img span:last-child {
	font-family: var(--unbounded);
	font-weight: 400;
	font-size: 18px;
	color: var(--dark-brown);
}

.menu {
	height: 100%;
	width: 50px;
}