.header {
	max-height: 100px;
	top: 0;
	position: sticky;
	height: 100%;
	display: flex;
	border-bottom: 3px solid #808080;
	background-color: var(--beige);
	z-index: 100;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 40px;
	flex: 1 0 0;
	width: 100%;
}

.logo {
	height: 100%;
	display: flex;
	width: 100%;
}

.logo__img {
	height: 100%;
	justify-content: center;
	display: flex;
	width: 100%;
}

.menu {
	height: 100%;
	width: 50px;
}