.product {
	max-width: 280px;
	min-width: 280px;
	height: 340px;
	border-radius: 15px;
	position: relative;
	border: none;
	overflow: hidden;
	cursor: pointer;
}

.product img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	object-fit: cover;
	border: none;
	aspect-ratio: 1 / 1.21428;
	width: 100%;
	border-radius: 15px;
}

.product:hover img {
	transform: scale(1.151);
}

.wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: none;

}