:root {
  --unbounded: "Unbounded", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --beige: #fff7ec;
  --brown: #ad8b6b;
  --green: #3e6052;
  --dark-brown: #47241c;
}

body {
  background: var(--beige)
}

/* @font-face {
  font-family: var(--unbounded-regular);
  src: url(./assets/fonts/Unbounded/static/Unbounded-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: var(--unbounded-semibold);
  src: url(./assets/fonts/Unbounded/static/Unbounded-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: var(--nunito-sans-regular);
  src: url(./assets/fonts/Nunito_Sans/static/NunitoSans_10pt-Regular.ttf);
}

@font-face {
  font-family: var(--nunito-sans-light);
  src: url(./assets/fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Unbounded:wght@200..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}